<div class="addExpenses">
   <div class="addExpenses allExpenses">
      <div class="navigation">
        <a href="/addExpenses/{{name}}" class="nextLink"><button
            class="navButton first"
          >Add</button></a>
        <a href="/allExpenses" class="nextLink"><button
            class="navButton"
          >Expenses</button></a>
          <a href="/logout" class="nextLink"><button
            class="navButton"
          >Log out</button></a>
          <a href="/notifications"><i class="fa-solid fa-bell"><span class="count">{{count}}</span></i></a>

      </div>
  <div class="head">
    <h1>ENTER EXPENSES</h1>
  </div>
  <div class="error">
    <p class="errorText"></p>
  </div>
  <form action="/addExpenses/{{name}}" method="POST">

    <div class="dropdown">
      <select name="category" id="category">
        <optgroup>
          <option value="">Select category</option>
          {{#each catList}}
            <option value="{{this.category}}">{{this.category}}</option>
          {{/each}}
        </optgroup>
      </select>
    </div>
    <input
      type="number"
      name="amount"
      placeholder="Enter amount(R)"
      class="amount"
    />
    <input type="date" name="date" placeholder="date of expense" class="date" id="expDate"/>
    <button class="enterBtn" type="submit">Submit Expense</button>
  </form>
  <a href="/allExpenses"><button class="viewBtn" type="submit">View Expenses</button></a>
</div>