<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View expenses</title>
  </head>
  <body>
     <div class="addExpenses allExpenses">
      <div class="navigation">
        <a href="/addExpenses/{{name}}" class="nextLink"><button
            class="navButton first"
          >Add</button></a>
        <a href="/allExpenses" class="nextLink"><button
            class="navButton"
          >Expenses</button></a>
          <a href="/logout" class="nextLink"><button
            class="navButton"
          >Log out</button></a>

      </div>
    <div class="addExpenses" id="expensesDisplay">
      <div class="head">
        <h1>Expenses for {{name}}</h1>
      
         <p>Hi {{name}}, Below are your expenses for the past {{filterNum}} day(s)</p>
     
      </div>
      {{#each days}}
        <h5 class="expenseHead">expenses from {{this.lowerFormat}} to {{this.upperFormat}}</h5>
      {{/each}}
     
      <div class="expenses">
        <ul class="expensesList">
          {{#each userExpenses}}
            <li class="expense">
              <div class="category">
                <p>{{this.category}}</p>
              </div>
              <div class="expenseAmount">
                <p>R{{this.amount}}</p>
              </div>

            </li>
          {{/each}}
        </ul>
      </div>

      <div class="filter">
        <form action="/filter" method="post">
          <input
            type="number"
            name="daysNo"
            placeholder="Enter number of days"
            class="noFilter"
          />
          <button class="enterBtn">Filter</button>
        </form>
      </div>
      <div class="expenseTotals">
        {{#each totalList}}
          <div class="travelTotal categoryTot">
            <p>{{this.category}}</p>
            <p>R{{this.sum}}</p>
          </div>
        {{/each}}
        <form action="/totals" method="post">
          <button class="enterBtn">Calculate</button>
        </form>
      </div>
      {{!-- <div class="backLinks">
        <a href="/addExpenses/{{name}}" class="backLink">Back to expenses</a>
       
      </div> --}}

    </div>
  </body>
</html>