<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View expenses</title>
  </head>
  <body>
    <div class="addExpenses" id="expensesDisplay">
      <div class="head">
        <h1>Expenses for {{name}}</h1>
      </div>
      {{#if filterNum}}
        <h5 class="expenseHead">{{filterNum}} days expenses</h5>
      {{else}}
        <h5 class="expenseHead">Weekly expenses</h5>
      {{/if}}
      <div class="expenses">
        <ul class="expensesList">
          {{#each userExpenses}}
            <li class="expense">
              <div class="category">
                <p>{{this.category}}</p>
              </div>
              <div class="expenseAmount">
                <p>R{{this.amount}}</p>
              </div>

            </li>
          {{/each}}
        </ul>
      </div>

      <div class="filter">
        <form action="/filter" method="post">
          <input
            type="number"
            name="daysNo"
            placeholder="Enter number of days"
            class="noFilter"
          />
          <button class="enterBtn">Filter</button>
        </form>
      </div>
      <div class="expenseTotals">
        {{#each totalList}}
          <div class="travelTotal categoryTot">
            <p>{{this.category}}</p>
            <p>R{{this.sum}}</p>
          </div>
        {{/each}}
        <form action="/totals" method="post">
          <button class="enterBtn">Calculate</button>
        </form>
      </div>
      <div class="backLinks">
        <a href="/addExpenses/{{name}}" class="backLink">Back to expenses</a>
        <a href="/" class="backLink">Log out</a>
      </div>

    </div>
  </body>
</html>